@use "global" as *;

.c-btn{
  text-align: center;
  border: myrem(1) solid $black;
  background-color: $black;
  background-color: transparent;
  // border-radius: myrem(10);
  display: inline-block;
  padding: myrem(19) myrem(15);
  min-width: myrem(272);
  position: relative;
}
@media (hover: hover) and (pointer: fine) {
  .c-btn:hover{
    opacity: 1;
  }
  .c-btn:hover span{
    color: $white;
    opacity: 1;
  }
}
.c-btn span{
  font-family: $font-ja;
  font-size: myrem(15);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $text;
  position: relative;
  z-index: 2;
}

.c-btn::after{
  content: "";
  display: block;
  background-color: $white;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: myrem(10);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transition: all .3s;
}
@media (hover: hover) and (pointer: fine) {
  .c-btn:hover::after{
    background-color: $black;
    color: $white;
    opacity: 1;
  }
}

.c-btn--black{
  
}