@use "global" as *;

.test{
  width: 50%;
}


.c-section-title{
  display: block;
  width: 100%;
  height: myrem(160);
  font-family: $font-ja;
  font-size: myrem(20);
  font-weight: 400;
  line-height: calc(20/20);
  letter-spacing: 0.04em;
  color: $text;
  padding-left: myrem(120);
  writing-mode: vertical-lr;
  position: relative;
  z-index: 10;

}
.c-section-title::before{
  content: attr(data-en);
  display: inline-block;
  display: block;
  width: 100%;
  font-family: $font-en;
  font-size: myrem(160);
  font-weight: 400;
  line-height: calc(160 / 160);
  letter-spacing: 0.04em;
  color: #F3F3F3;
  writing-mode: initial;
  white-space:nowrap;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.c-section-title.c-section-title--white::after{
  color: #fff;
}