@use "global" as *;

.c-section-title{
  display: inline-block;
  width: 100%;
  height: myrem(80);
  font-family: $font-ja;
  font-size: myrem(14);
  font-weight: 400;
  line-height: calc(20/20);
  letter-spacing: 0.2em;
  color: $text;
  padding-left: myrem(50);
  padding-top: myrem(7);
  writing-mode: vertical-lr;
  position: relative;
  z-index: 10;
  
  @include mq("md"){
    font-size: myrem(20);
    height: myrem(160);
    padding-left: myrem(120);
  }

}
.c-section-title::before{
  content: attr(data-en);
  display: inline-block;
  // width: 100%;
  font-family: $font-en;
  font-size: myrem(60);
  font-weight: 400;
  line-height: calc(60 / 60);
  letter-spacing: 0.04em;
  color: $text_en;
  writing-mode: initial;
  // white-space:nowrap;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @include mq("sm"){
    font-size: myrem(80);
  }

  @include mq("md"){
    font-size: myrem(160);
  }
}

.c-section-title.c-section-title--white{
  color: $text;
}
.c-section-title.c-section-title--white::before{
  color: #fff;
}
.c-section-title.c-section-title--opacity02{
  color: #fff;
}
.c-section-title.c-section-title--opacity02::before{
  color: rgba(#fff, 0.2);

}