@use "global" as *;

.c-text-link{
  font-family: $font-main;
  font-size: myrem(14);
  font-weight: 400;
  line-height: calc(23 / 14);
  letter-spacing: 0.04em;
  color: $text;
  min-width: myrem(207);
  padding-right: myrem(76);
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all .3s;
}
@media (hover: hover) and (pointer: fine) {
  .c-text-link:hover{
    opacity: 0.7;
  }
}
.c-text-link::after{
  content: "";
  display: inline-block;
  width: myrem(48);
  height: myrem(1);
  background-color: $text;
  position: absolute;
  right: myrem(12);
  transition: all .3s;
}
@media (hover: hover) and (pointer: fine) {
  .c-text-link:hover::after{
    right: 0;
  }
}