@use "global" as *;

.c-text-btn{
  font-family: $font-ja;
  font-size: myrem(15);
  font-weight: 400;
  line-height: calc(24/15);
  letter-spacing: 0.04em;
  color: $text;
  width: myrem(144);
  transition: all .3s;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.c-text-btn::after{
  content: "";
  display: inline-block;
  background: url(../images/icon_circle-arrow-black.svg) no-repeat center center/contain;
  width: myrem(34);
  height: myrem(34);
  transition: all .3s;
}
.c-text-btn:hover::after{
  background: url(../images/icon_circle-arrow-white.svg) no-repeat center center/contain;
}