@use "global" as *;

.p-access {
  width: 100%;
  padding-top: myrem(40);
  padding-bottom: myrem(40);
  position: relative;
  
  @include mq("md"){
    padding-top: myrem(158);
    padding-bottom: myrem(198);
  }
}

.p-access__wrapper{
  width: 100%;
  max-width: myrem(1440);
  margin-inline: auto;
  position: relative;
}
.p-access__map {
  width: 100%;
  max-width: myrem(450);
  position: absolute;
  top: myrem(80);
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
  
  @include mq("md"){
    max-width: myrem(840);
    top: myrem(22);
    right: 0;
    transform: initial;
  }
}
.p-access__map iframe{
  aspect-ratio: 375 / 200;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  @include mq("md"){
    aspect-ratio: 840 / 480;
  }
}

.p-access__title {

}
.p-access__text-box{
  max-width: myrem(280);
  margin-left: 0;
  margin-top: myrem(250);

  @include mq("md"){
    margin-left: myrem(80);
    margin-top: myrem(52);
  }
}
.p-access__text {
  font-family: $font-ja;
  font-size: myrem(15);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: $text;
}
.p-access__text span{
  font-size: myrem(16);
  font-weight: 700;
}
.p-access__text + .p-access__text {
  margin-top: myrem(18);
  
  @include mq("md"){
    margin-top: myrem(32);
  }
}




