@use "global" as *;

.p-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: myrem(40);
}

.p-card__category{
  font-family: $font-ja;
  font-size: myrem(60);
  font-weight: 400;
  line-height: calc(60 / 60);
  letter-spacing: 0.04em;
  color: $text_brown;
  width: 100%;
  writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  left: myrem(-30);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: myrem(8);
}
.p-card__category span{
  content: "";
  display: inline-block;
  font-family: $font-ja;
  font-size: myrem(14);
  font-weight: 400;
  line-height: calc(14 / 14);
  letter-spacing: 0.04em;
  color: #F3F3F3;
  color: #000;
  writing-mode: initial;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-top: myrem(4);
  margin-right: myrem(-30);
}
.p-card__category span::before{
  content: "";
  display: inline-block;
  width: myrem(38);
  height: myrem(1);
  background-color: $black;
  margin-right: myrem(8);
  margin-top: 3px;
}


.p-card__img{
  width: 100%;
  position: relative;
}
.p-card__img img{
  aspect-ratio: 352 / 352;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-card__body{
  margin-top: myrem(32);
  @include mq("md"){

  }
}
.p-card__title{
  font-family: $font-ja;
  font-size: myrem(28);
  font-weight: 400;
  line-height: calc(34 / 28);
  letter-spacing: 0.04em;
  color: $text;
}


.p-card__excerpt p{
  font-family: $font-ja;
  font-size: myrem(15);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: $text;
  margin-top: myrem(16);
  margin-top: myrem(32);
  
}
.p-card__btn{
  width: 100%;
  padding-top: myrem(48);
}
