@use "global" as *;

.p-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: myrem(40);
  row-gap: myrem(80);
  
  @include mq("md"){
    column-gap: myrem(40);
    row-gap: myrem(116);
    grid-template-columns: repeat(3, 1fr);
  }
}