@use "global" as *;

.p-footer{
  width: 100%;
  background-color: $black;
  padding-top: myrem(60);
  padding-bottom: myrem(40);
  
  @include mq("md"){
    padding-top: myrem(160);
    padding-bottom: myrem(160);
  }
}
.p-footer__inner{
  width: 100%;
  max-width: myrem(1250);
  padding: 0 myrem(25);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @include mq("md"){
    flex-direction: row;
  }

}
.p-footer__logo{
  width: myrem(80);
  height: inherit;
  flex-shrink: 0;
  
  @include mq("md"){
    width: myrem(161);
  }
}
.p-footer__logo a{
  height: inherit;
  display: block;
  display: flex;
  align-items: center;
}
.p-footer__nav-box{
  width: 100%;
  display: block;
  max-width: myrem(497);
  margin-top: myrem(30);
  
  @include mq("md"){
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
}

.p-footer__nav1{
  width: 100%;

}
.p-footer__nav-item {
  font-family: $font-ja;
  font-size: myrem(15);
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.04em;
  color: $white;
  display: block;
  transition: .3s;
  margin-bottom: myrem(16);
}
@media (hover: hover) and (pointer: fine) {
  .p-footer__nav-item  a:hover{
    opacity: 0.7;
  }
}
.p-footer__btn{
  margin-top: myrem(25);
}
.p-footer__nav2{
  width: 100%;
  margin-top: myrem(40);

  @include mq("md"){
    margin-top: 0;
  }
}
.p-footer__policies{

}
.p-footer__policies a{
  display: block;
  font-family: $font-ja;
  font-size: myrem(12);
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.04em;
  color: $white;
}
.p-footer__policies a:nth-child(n+2){
  margin-top: myrem(16);
}

.p-footer__sns{
  display: grid;
  grid-template-columns: repeat(2, myrem(22));
  column-gap: myrem(16);
  flex-shrink: 0;
  align-items: center;
  margin-top: myrem(32);
}
.p-footer__sns a{
  display: block;
  transition: .3s;
}
@media (hover: hover) and (pointer: fine) {
  .p-footer__sns a:hover{
    opacity: 0.7;
  }
}
.p-footer__sns-insta{
  width: myrem(22);
}
.p-footer__sns-twitter{
  width: myrem(16);
}
.p-footer__copyright{
  display: block;
  font-family: $font-ja;
  font-size: myrem(10);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.14em;
  color: $white;
  margin-top: myrem(32);
  
  @include mq("md"){
    text-align: start;
  }
}
