@use "global" as *;

.p-header{
  width: 100%;
  height: myrem(100);
  // background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  @include mq("md"){
    height: myrem(137);
  }
}
.p-header__inner{
  height: inherit;
  display: flex;

  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding-right: myrem(strip-unit($padding-sp));
  padding-left: myrem(strip-unit($padding-sp));
  margin-right: auto;
  margin-left: auto;

  @include mq(md) {
    padding-right: myrem(80);
    padding-left: myrem(80);
  }


}
.p-header__logo{
  width: myrem(100);
  height: inherit;
  flex-shrink: 0;
  position: relative;
  z-index: 100;
  @include mq("md"){
    width: myrem(157);
  }
}
.p-header__logo a{
  height: inherit;
  display: flex;
  align-items: center;
}

.p-header__hamburger{
  width: myrem(60);
  height: myrem(80);
  padding: myrem(20) myrem(10);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 100;

  @include mq("md"){
    display: none;
  }
}

.p-header__hamburger span{
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $white;
  border-radius: myrem(1);
  transition: ease .3s;
}

//バーガーボタンのクリックした時の動き
.p-header__hamburger.is-open span:nth-child(1){
  transform: translateY(#{myrem(13)}) rotate(45deg);
}
.p-header__hamburger.is-open span:nth-child(2){
  transform: translateY(-50%);
  opacity: 0;
}
.p-header__hamburger.is-open span:nth-child(3){
  transform: translateY(#{myrem(-13)}) rotate(-45deg);
}

.p-header__nav{
  // display: none;
  width: 100%;
  height: 100vh;
  min-height: myrem(375);

  padding-top: myrem(150);
  padding-bottom: myrem(150);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99;
  overflow: auto;
  transition: all .5s;
  
  @include mq("md"){
    display: block;
    position: static;
    // right: 0;
    width: initial;
    padding: 0;
    height: myrem(55);
    min-height: initial;
    // background-color: #222;
  }
}
.p-header__nav.is-open{
  // display: block;
  background-color: #222;
  right: 0;
}

.p-header__nav-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @include mq("md"){
    flex-direction: row;
    height: inherit;
    
  }
}
.p-header__nav-list{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  @include mq("md"){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.p-header__nav-item{
  display: block;
  width: 100%;
  padding: myrem(10) 0;
  position: relative;

  
  @include mq("md"){
    width: initial;
    padding: 0 myrem(16);
    height: inherit;
  }
}
.p-header__nav-item a{
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: $font-ja;
  font-size: myrem(15);
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.04em;
  color: $white;
  justify-content: center;
  
  @include mq("md"){
    height: inherit;
    justify-content: initial;
  }
}
.p-header__nav-item a span{
  position: relative;
  display: inline-block;
}
@media (hover: hover) and (pointer: fine) {
  .p-header__nav-item:hover a{
    opacity: 1;
  }
}
.p-header__nav-item a span::after{
  position: absolute;
  bottom: 10px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
@media (hover: hover) and (pointer: fine) {
  .p-header__nav-item a:hover span:after{
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    bottom: -5px;
    visibility: visible;
  }
}

.p-header__btn{
  margin-top: myrem(40);
  margin-left: 0;
  flex-shrink: 0;
  
  @include mq("md"){
    margin-left: myrem(16);
    margin-top: 0;
  }
}


@keyframes fadein-bottom {
  0%{
    opacity: 0;
    transform: translateY(15px);
    
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
