@use "global" as *;

.p-news-list{
  
}
.p-news-list__item{
  padding-bottom: myrem(20);
  
  @include mq("md"){
    padding-bottom: myrem(30);
  }
}
.p-news-list__item:nth-child(n+2){
  border-top: myrem(2) solid $white;
  padding-top: myrem(20);
  
  @include mq("md"){
    padding-top: myrem(30);
  }
}